@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

/* BODY STYLING */

body {
  background-color: #111111 !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/* Header Styling */

h1,
h2 {
  text-align: center;
  padding-bottom: 20px;
}

img {
  width: 450px;
  padding-right: 30px;
}

.row {
  text-align: center;
}

.column {
  padding-left: 40px;
}
