@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

/* BODY STYLING */

body {
  background-color: #111111 !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/* Header Styling */

h1,
h2 {
  text-align: center;
  padding-bottom: 20px;
}

p {
  text-align: center;
}

img {
  width: 450px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.row {
  text-align: center;
}

.column {
  padding-left: 40px;
}

.card {
  width: 400px;
  text-align: center;
  background-color: #222222;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}
